.App {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.wraptext {
  overflow-wrap: break-word;
}

.person {
  padding: 10px;
}

.people {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action-buttons > button {
  margin: 0 10px;
  width: 150px;
}

.random {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.random-name {
  font-size: 18px;
  font-weight: 600;
}
